.DS_Store
Resources
build.log
build
npm-debug.log
tmp
.map
.project
.settings
.metadata
Thumbs.dbtiapp.xml
tiapp.xml
demoLND.txt
demoLNDConnect.txt
app/lib/node_modules
app/lib/package-json.lock
package-json.lock
platform
GoogleService-Info.plist
google-services.json
modules/
rpcFiles/
dist/
passwordStatic.js
